html, body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    min-height: 100%;
}

body {
    color: #0C1F31;
    background: #01579b;
    font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 5%;
}

.header {
    color: #e1f5fe;
    font-family: "Patua One";
    margin-bottom: 10vh;
}

/* -------------- selection and search ------------ */
#search-container {
    width: 60%;
    margin: 0 auto;
}

.input-field label {
    color: #e1f5fe;
    font-family: "Patua One";
    font-weight: lighter;
}

#location {
    color: #e1f5fe;
    font-family: 'Be Vietnam';
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #e1f5fe;
  -webkit-box-shadow: 0 1px 0 0 #e1f5fe;
          box-shadow: 0 1px 0 0 #e1f5fe;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #e1f5fe;
}

input.valid:not([type]), input.valid:not([type]):focus, input.valid[type=text]:not(.browser-default), input.valid[type=text]:not(.browser-default):focus, input.valid[type=password]:not(.browser-default), input.valid[type=password]:not(.browser-default):focus, input.valid[type=email]:not(.browser-default), input.valid[type=email]:not(.browser-default):focus, input.valid[type=url]:not(.browser-default), input.valid[type=url]:not(.browser-default):focus, input.valid[type=time]:not(.browser-default), input.valid[type=time]:not(.browser-default):focus, input.valid[type=date]:not(.browser-default), input.valid[type=date]:not(.browser-default):focus, input.valid[type=datetime]:not(.browser-default), input.valid[type=datetime]:not(.browser-default):focus, input.valid[type=datetime-local]:not(.browser-default), input.valid[type=datetime-local]:not(.browser-default):focus, input.valid[type=tel]:not(.browser-default), input.valid[type=tel]:not(.browser-default):focus, input.valid[type=number]:not(.browser-default), input.valid[type=number]:not(.browser-default):focus, input.valid[type=search]:not(.browser-default), input.valid[type=search]:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown {
    border-bottom: 1px solid #e1f5fe;
    -webkit-box-shadow: 0 1px 0 0 #e1f5fe;
    box-shadow: 0 1px 0 0 #e1f5fe;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    border-bottom: 1px solid #e1f5fe;
}

.select-wrapper .caret {
    fill:#e1f5fe;
}

.select-wrapper input.select-dropdown {
    color: #e1f5fe;
    border-bottom: 1px solid #e1f5fe;
    font-family: "Patua One";
}

.dropdown-content li>span {
    color: #01579b !important;
    font-family: 'Be Vietnam';
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #e1f5fe;
}


/* -------------- get restaurant ------------ */
.btn {
    background-color: #e1f5fe;
    color: #01579b;
    font-family: 'Patua One';
    margin: 5vh auto;
    font-size: 2em;
}


/* -------------- map and info ------------ */
.map {
    height: 50vh;
    width: 100%;
}

#info-0, #info-1, #info-2, #info-3, #info-4 {
    color: #e1f5fe;
    margin-bottom: 5vh;
}

#info-0 h3, #info-1 h3, #info-2 h3, #info-3 h3, #info-4 h3 {
    font-family: 'Be Vietnam';
    font-size: 3em;
}

#info-0 h4, #info-1 h4, #info-2 h4, #info-3 h4, #info-4 h4 {
    font-family: 'Be Vietnam';
    font-size: 1.5em;
}

#result-container {
    width: 60%;
}


/* -------------- elevator ------------ */
.footer {
    box-sizing: border-box;
    padding-top: 15vh;
    color: #e1f5fe;
    display: none;
}

.elevator {
    text-align: center;
    cursor: pointer;
    width: 140px;
    margin: auto;
    color: #e1f5fe;
}

.elevator:hover {
    opacity: 0.7;
}

.sweet-svg path {
    color: #e1f5fe;
}

.elevator svg {
    width: 40px;
    height: 40px;
    display: block;
    margin: auto;
    margin-bottom: 5px;
    color: #e1f5fe;
}



/* modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 33vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    max-height: 100%;
  }

  /* Modal Content */
 .modal-content {
    position: relative;
    background-color: #e1f5fe;
    font-family: "Patua One";
    font-size: 2em;
    margin: auto;
    padding: 0;
    padding-top: 75px;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0.4,34.1,60.8,0.2),0 6px 20px 0 rgba(0.4,34.1,60.8,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    min-height: 30vh;
    color: #01579b;
  }
  .modal .modal-content {
    padding: 75px;
  }

 /* Add Animation */
 @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  /* The Close Button */
  .close {
    color: #e1f5fe;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  /* The Close Button */
 .close {
    color: #e1f5fe;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #01579b;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: #e1f5fe;
  }
  .modal-body {padding: 2px 16px;}
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: #e1f5fe;
  }
